//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  // colors
  --main-color: #1c2143;
  --white: #ffffff;
  --black: #000000;
  --red: #ff1616;
  --yellow: #f2c744;
  --grey: #f4f4f4;


  //font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--black);
}

.v-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

aside,
nav,
footer,
header,
section {
  display: block
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.text--red {
  color: var(--red);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 596px;
  min-height: 843px;
  margin: 24px auto;
  box-shadow: 0 1px 4px var(--yellow);
}

.content {
  padding: 0 12px;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.logo {
  height: 100px;
  width: auto;
}

.logo-image {
  height: 100%;
  width: auto;
}

.page-type {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  background-color: var(--main-color);
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px 0 24px;
  position: relative;

  &::before {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 66px 80px 66px;
    border-color: transparent transparent var(--yellow) transparent;
    transform: rotate(0deg);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    z-index: -1;

  }

  &::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 70px 90px 70px;
    border-color: transparent transparent var(--main-color) transparent;
    transform: rotate(0deg);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.main {
  padding-top: 80px;
  flex: auto;
}

.invoice-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.invoice-data__user,
.invoice-data__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 600;
  font-size: 14px;
}

.invoice-data__item {
  align-items: flex-end;
}

.invoice-data--data {
  font-weight: 500;
}

.payment-details {
  padding-top: 40px;
}

.payment-table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;


  th,
  td {
    height: 70px;
    text-align: center;
    padding: 5px 0;
  }

  td {
    padding: 5px 0;
    font-size: 14px;

    &:first-child {
      text-align: left;
      font-weight: 600;
    }
  }

}

.item__colimn {
  width: auto;
}

.qte__column,
.price__column,
.total__column {
  width: 120px;
}

.title__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--main-color);
  color: var(--white);
}

.right--spacer {
  width: 94%;
}

.payment__data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--grey);
  padding: 0 24px;
}

.subline {
  height: 3px;
  background-color: var(--black);
  margin: 12px auto;
}

.main-info {
  padding-top: 24px;
}

.main-info__flex {
  display: flex;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-title {
  font-size: 12px;
  font-weight: 500;
}

.contact-flex {
  font-size: 12px;
  font-weight: 300;
}

.to-pay {
  flex: 0 0 190px;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.tax__details {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.tax__details-item {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.in-total {
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  padding: 0 16px;
  background-color: var(--main-color);
  color: var(--red);
}

.footer {
  flex: 0 0 60px;
  background-color: var(--yellow);
}